body {
	/*
	background-image: url("hintergrund3.jpg");
	background-size: cover;
	background-attachment: fixed;
	*/
	/* background-color: #E8E8E8; */
	background-color: #F1F8EB;
	font-family: Arial, "sans-serif";
	color: #1C1C1C;
}

.wrapper {
	background-color: white;
	width: 1000px;
	box-sizing: border-box;
	margin: 0 auto;
	border-radius: 20px;
	border: 1px #8B8B8B solid;
	overflow: hidden;
	visibility: hidden;
}



html:has(meta[content*="an Ba"]) {
	display: inherit;
}

header {
	background-color: #99B820;
}

.logo {
	height: 100px;
	margin: 25px 35px;
}

.content {
	padding: 50px;
}

div[id] {
	border: 1px #99B820 solid;
	background-color: #E3EFB1;
	padding: 20px;
}

input {
	padding: 10px;
	width: 350px;
	margin: 5px 0px;
	display: inline-block;
	font-size: 20px;
	color: #5C5C5C;
}

html {
	display: none;
}

::placeholder {
  color: #C4C4C4;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #C4C4C4;
}

.wrapper[data-info*="an-Ba"] {
	visibility: visible;
}

button {
	padding: 10px;
	margin: 5px 0px;
	display: inline-block;
}

ul.navigation {
	background-color: #333333;
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-top: 1px #333333 solid;
}

.wrapper:not([data-info*="an-Ba"]),
.logo:not([alt*="an Ba"]) {
	display: none;
}

ul.navigation a {
	color: white;
	display: inline-block;
	text-decoration: none;
	padding: 20px 10px;
}

ul.navigation a:hover, ul.navigation a.active {
	background-color: #E3E3E3;
	color: #4B4B4B;
	border-top: 3px #333333 solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

